body {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: 'Staatliches', cursive;
	font-size: 6em;
	text-align: center;
}

.heading {
	transition: color 1000ms;
}

#directions {
	font-family: 'Staatliches', cursive;
	font-style: italic;
	color: white;
}

#game div {
	border: 2px solid white;
	width: 15%;
	height: 150px;
	margin: 30px;
	display: inline-block;
	border-radius: 2em;
	align-items: center;
}
